/* 
    Created on : 11/01/2017, 09:27:23 AM
    Author     : Administrador
*/
.nav li a {
    text-align: center;
}
.nav li{
    /* border-bottom: 1px solid rgba(246, 246, 246, .5); */
}

.buscar-table{
    text-align: right;
    margin-bottom: 0px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.search-box{
    padding-bottom: 10px;
}
.nav>li>a {
    padding: 8px 4px;
}


.menu-theme{
    margin: 0 15px 10px;
    text-align: center;
    margin-top: -4px;
}

.colortheme{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.colorwhite{
    background-color: white;
}
.colorblack{
    background-color: #333;
}
.colorblue{
    background-color: #006ca8;
}
.colorgreen{
    background-color: #00632e;
}