
.sidebar:after,
.sidebar:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before{
    background-color: #00632E;
}
.card .icon-big {
    color: #00632E;
  }

.sidebar .logo {
  color:#FFFFFF;
}
.sidebar .logo,
.off-canvas-sidebar .logo {
    border-bottom: 1px solid rgba(230, 230, 230, 1)
}

.sidebar .logo p,
.off-canvas-sidebar .logo p {
    color: #66615B;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
    color: #66615B;
}
.sidebar .nav li:not(.active) > a,
.off-canvas-sidebar .nav li:not(.active) > a {
    color: #ffffff;
}

.sidebar .nav .divider,
.off-canvas-sidebar .nav .divider {
    background-color: rgba(102, 97, 91, 0.2);
}




.sidebar .nav li.active > a,
.off-canvas-sidebar .nav li.active > a {
    color: #B1C800;
    opacity: 1;
}
